<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AutoCall.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value>C:\Users\h9811\Desktop\autoCall\Spreadsheet.xlsx</value>
            </setting>
            <setting name="fromPhone" serializeAs="String">
                <value>+19093868800</value>
            </setting>
            <setting name="sid" serializeAs="String">
                <value>ACd94bd9b8e31ed6694de7dd40c54aecb9</value>
            </setting>
            <setting name="atoken" serializeAs="String">
                <value>59f7b2ddd269337fbb2aaed2b418b420</value>
            </setting>
            <setting name="writeFile" serializeAs="String">
                <value>C:\Users\h9811\Desktop\autoCall\Report.csv</value>
            </setting>
            <setting name="flowSid" serializeAs="String">
                <value>FW1d06862490392d787d2713759909ecd6</value>
            </setting>
            <setting name="colSize" serializeAs="String">
                <value>3</value>
            </setting>
        </AutoCall.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
